# Local terraform directories
**/.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files (local only)
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local IDE stuff
.vscode/
.idea/
